[submodule "arm-tf"]
	path = arm-tf
	url = ../arm-tf
	branch = 6.2-elp
[submodule "uefi/edk2-platform-baikal"]
	path = uefi/edk2-platform-baikal
	url = ../edk2-platform-baikal
	branch = 6.2-elp
[submodule "uefi/edk2"]
	path = uefi/edk2
	url = ../edk2
	shallow = true
[submodule "uefi/edk2-non-osi"]
	path = uefi/edk2-non-osi
	url = http://github.com/tianocore/edk2-non-osi.git
	branch = master
[submodule "uefi/edk2-platforms"]
	path = uefi/edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
[submodule "kernel"]
	path = kernel
	url = ../kernel
	branch = linux-6.1-elp
